/_build
/toolchain.cmake
/tools/toolchain.cmake

# editor swap files
.*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
