[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = https://github.com/matus-chochlik/llvm-project.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "submodules/ctre"]
	path = submodules/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "submodules/ChaiScript"]
	path = submodules/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
