[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = https://github.com/matus-chochlik/llvm-project.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
